@page "/"

<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>Hello, world!</h1>
            Welcome to your new app.
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Config</h5>
                    <NavLink href="config" class="btn btn-primary w-100">Open</NavLink>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Modules</h5>
                    <NavLink href="/" class="btn btn-primary w-100">Open</NavLink>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Sensors</h5>
                    <NavLink href="/" class="btn btn-primary w-100">Open</NavLink>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Relays</h5>
                    <NavLink href="/" class="btn btn-primary w-100">Open</NavLink>
                </div>
            </div>
        </div>
    </div>
</div>