@page "/"
@attribute [Authorize]

<div class="container">
    <div class="row text-center">
        <div class="col">
            <h3>Welcome to your IoT Control Panel</h3>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 col-md">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Config</h5>
                    <a>Setup internet access<br/>Port listening<br/>Backup/Restore config<br/>Cloud sync</a>
                </div>
                <div class="card-footer text-center">
                    <NavLink href="config" class="btn btn-dark w-25">Open</NavLink>
                </div>
            </div>
        </div>
        <div class="col-6 col-md">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Components</h5>
                    <a>Build your system <br />Setup IoT components<br />Schedule tasks for modules<br />View charts</a>
                </div>
                <div class="card-footer text-center">
                    <NavLink href="iotcomponents" class="btn btn-dark w-25">Open</NavLink>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-auto"><VersionDisplay /></div>
    </div>
</div>