@page "/"
@attribute [Authorize]

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h1>Hello, world!</h1>
            Welcome to your new app.
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 col-md">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Config</h5>
                    <NavLink href="config" class="btn btn-primary w-100">Open</NavLink>
                </div>
            </div>
        </div>
        <div class="col-6 col-md">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Components</h5>
                    <NavLink href="iotcomponents" class="btn btn-primary w-100">Open</NavLink>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-auto"><VersionDisplay /></div>
    </div>
</div>