<div class="row justify-content-center my-4">
    <div class="col-auto text-dark">
        <NavLink href="/diagnostic/changelog" class="btn btn-link">
            <small class="font-weight-light">1.0.0</small>
        </NavLink>
        <NavLink href="/diagnostic/logs" class="btn btn-link">
            <small class="font-weight-light">Logs</small>
        </NavLink>
        <NavLink href="/diagnostic/monitor" class="btn btn-link">
            <small class="font-weight-light">Monitor</small>
        </NavLink>
    </div>
</div>